
<div class="layout container-fluid">
    <div class="container">
  
        <div class="heading"> INTERVIEW SCREENING</div>
        <div class="contain">
            The Interview screening assessment application is created to automate the complete hiring process. <br/>
            Four different roles are created to automate the complete hiring process - ADMIN, TAC, PANEL, and CANDIDATE.
        </div>
    <div class="row">
        <div class="usercard" ><img src="/assets/admin.png" alt="admin"><label class="img-label left1">Admin</label></div>
        <div class="usercard"><img src="/assets/hr.png" alt="hr"><label class="img-label left2">TAC Team</label></div>
        <div class="usercard" ><img src="/assets/panel.png" alt="panel"><label class="img-label left3">Panel</label></div>
        <div class="usercard" ><img src="/assets/candidate.png" alt="candidate"><label class="img-label left4">Candidate</label></div>
    </div>
    </div>
</div>